

body{
 padding: 0px; 
 margin: 0px;
 font-family: "Helvetica";  
}

/* =========================

NAVIGATION

========================= */ 

.nav-wrapper{
  display: flex;
  background-color: #333;
  padding: 10px 30px;
  align-items: center;
  color: #fff;    
}

.branding{
  flex:5;
  text-shadow: 2px 3px black; 
}

.nav{
  text-align: right;
}

.nav a {
  color:white;
  text-decoration: none;
  text-shadow: 2px 2px black; 
}


.nav a:hover {
  color:green;

}

.menu{
  text-align: right;
}

.menu li{
    display: inline;
    padding: 20px;  
    color: rgb(255, 255, 255);
     font-size: 21px; 
     line-height: 21px; 
     padding: 8px; 
     border-radius: 17px; 
     font-family: Georgia, serif; 
     font-weight: normal; text-decoration: none; 
     font-style: normal; font-variant: normal; text-transform: none; 
     background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
     box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
      border: 2px solid rgb(28, 110, 164); 
     display: inline-block;}
    .myButton:hover {
    background: #1C6EA4; }
    .myButton:active {
    background: #144E75; }


/* =========================

BANNER BIO

========================= */ 


#banner{
  display: flex;
  align-items: center;
  background: #f7f7f7;
  height: 50vh;
  min-height: 550px;
}

.portrait{
  flex: 5;
  text-align: center;
}

.portrait img{
  max-width: 350px;

  border-radius: 15px;
  border: solid 6px #fff;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.3);
  filter: grayscale(50%);
}

.bio{
  flex:5;
  padding: 10px;
}

.bio .eyebrow{
  font-size: 12px;
  
}

.bio h2{
  font-size: 54px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0px;
}


/* =========================

PROJECTS

========================= */ 

#projects{
  display: flex;
  background-color: #333;
}

.projectBanner {
  text-align: center;
  color: white; 
  text-shadow: 2px 4px black; 
  padding: 2px;
  background-color: #333;
}

.project {
  flex: 3;
  background-color:#111;
  padding: 100px 30px;
  text-align: center;
  border: solid 1px #222; 
  color: white;
  text-shadow: 2px 2px black;

}

.overlay{
border: 2px solid grey;
background-color:rgba(0,0,0,0.8);
padding-bottom:20px;
}

#project-01{
  background: url("https://image.freepik.com/free-photo/woman-working-laptop-nature_53876-82407.jpg") ;
  background-size: cover;
  background-position: center;
  filter: sepia(25%);
  margin: 3px;
  
}

#project-02{
  background: url("https://image.freepik.com/free-photo/beautiful-woman-holding-umbrella_107420-12294.jpg");
  background-size: cover;
  background-position: center;
  margin: 3px;
}

#project-03{
  background: url("https://image.freepik.com/free-photo/couple-tourists-with-backpacks-mountain_1150-7520.jpg");
  background-size: cover;
  background-position: center;
  margin: 3px;
}

/* #project-04{
  background: url("https://www.intechnic.com/hs-fs/hubfs/Imported_Blog_Media/Best-restaurant-website-design-inspirations_2_cr-ele-3.jpg?width=1024&height=512&name=Best-restaurant-website-design-inspirations_2_cr-ele-3.jpg");
  background-size: cover;
  background-position: center;
} */

/* =========================

MEDIA QUERIES

========================= */ 

@media only screen and (max-width: 900px) {

  #banner{
      -webkit-flex-direction: column;
      flex-direction: column;
      height: auto;
  }

  .portrait img{
    width: 50%;
    max-width: 350px;
  }

  .bio{
    text-align: center;
  }

  #projects{
      -webkit-flex-direction: column;
      flex-direction: column;
  }

}


